/*From jquery-ui custom theme
/* Component containers
----------------------------------*/
.ui-widget { font-family: sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #404040; background: #121212 url(images/ui-bg_gloss-wave_16_121212_500x100.png) 50% top repeat-x; color: #eeeeee; }
.ui-widget-content a { color: #eeeeee; }
.ui-widget-header { border: 1px solid #404040; background: #888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #adadad url(images/ui-bg_highlight-soft_35_adadad_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #333333; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #333333; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #dddddd; background: #dddddd url(images/ui-bg_highlight-soft_60_dddddd_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #000000; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #000000; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #000000; background: #121212 url(images/ui-bg_inset-soft_15_121212_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #404040; background: #555555 url(images/ui-bg_highlight-hard_55_555555_1x100.png) 50% top repeat-x; color: #cccccc; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #cccccc; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_bbbbbb_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_bbbbbb_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_cccccc_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_666666_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_c98000_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_f29a00_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_aaaaaa_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Accordion
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td ,hr{
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}


html {
	font-family: sans-serif;
}

h1 {
	color: #888888;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	color: #888888; 
	font-weight: bold;
	font-size: 1.5em; 
}

h3 {
	color: #888888; 
	font-weight: bold;
	font-size: 1.17em; 
}

div#user {
}

div#header {
	height: 100px;
	text-align: center;
}

div#main {
	}

div#footer {
}

table { 
	table-layout:fixed;
	text-align: center;
}

tr {  
}

th { 
	padding-left: 5px;
    padding-right: 5px;
	border: 1px solid #404040; 
	background: #888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
	font-weight: bold; 
	}

.left { text-align: left;}

td { padding-left: 5px;
    padding-right: 5px;
	border: black solid 1px;
}


.no-border { border: none;}

.breeder { 	background-color: yellow; 
			color: #888888;
			#888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
}

.unweaned { 	background-color: pink ; 
			color: #888888;
			#888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
}


a {
	color: red;
	text-decoration: none;
}


ul#menu {
	font-size: large;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	text-decoration: none;
	float: left;
	padding: 10px 10px 10px 10px;
	width: 10%;
	height: 50px;
	border: 1px solid #404040; 
	background: #888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
	font-weight: bold; 
}

ul#menu li a:hover {
	color: #000000; 
	text-decoration: none; 
	outline: none; 
}

p {
	/* if width = 30 X font size that gives about 65 characters per line */
	font-size: 15px;
	max-width: 450px;
	/* suggested line height is 2-5px larger than font size*/
	line-height: 19px;
}

input  {
}

select{
}

table.form {
	border: 1px solid #404040; 
	background: #888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
}

.errorlist {
	text-align: center;
	list-style-type: none;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
	text-align: center;
}

.debug {
	text-align: center;
	list-style-type: none;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
	color: #2A70E8;
	border: 2px solid #2A70E8;
	text-align: center;
}

.info {
	text-align: center;
	list-style-type: none;
	background: #888888;
	color: #ffffff;
	border: 2px solid #ffffff;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 

}

.success {
	text-align: center;
	list-style-type: none;
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 2px solid #4F8A10;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
}

.warning {
	text-align: center;
	list-style-type: none;
	color: #FAB905;
	border: 2px solid #FAB905;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
}

.error {
	text-align: center;
	list-style-type: none;
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
}

