{% load custom_filters %}
<table class="sortable">
 <thead>
  <tr>
   <th>Strain</th>
   <th>Cage</th>
   <th>Name</th>
   <th>Start</th>
   <th>Male<sup><a href="#legend">*</a></sup></th>
   <th>Females<sup><a href="#legend">*</a></sup></th>
   <th>Rack</th>
   <th>Position</th>
   <th>Duration (days)</th>
   <th>Crosstype</th>
   <th>Pups</th>
   <th>Not Weaned</th>
   <th id="left">Notes</th>
   <th>Edit</th>
  </tr>
 </thead>
 <tbody>
  {% for breeding in breeding_list %}
   <tr>
   <td {% if not breeding.Active %}class="dead"{% endif %}><a href="{{ breeding.Strain.get_absolute_url }}">{{ breeding.Strain }}</a></td>
   <td {% if not breeding.Active %}class="dead"{% endif %}><a href="{{ breeding.get_absolute_url }}">{% if breeding.Cage %}{{ breeding.Cage }}{% else %}Details{% endif %}</a></td>
      <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.BreedingName }}</td>
      <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.Start|date:"Y-m-d" }}</td>
   <td class="left" {% if not breeding.Active %}class="dead"{% endif %}>
{% if breeding.Male.all %}
       <ul>
       {% for male in breeding.Male.all %}
	   <li class="{% if not male.Alive %} dead {% endif %}{{ male.breeding_male_location_type }}"><a href="{% url animal-detail male.id %}">{{ male }}</a></li>
       {% endfor %}
       </ul>
{% endif %}
   </td>
   <td class="left" >{% if breeding.Females.all %}<ul>{% for female in breeding.Females.all %}<li class="left {% if not female.Alive %} dead {% endif %}{{ female.breeding_female_location_type }}"><a href="{% url animal-detail female.id %}"><a href="{% url animal-detail female.id %}">{{ female }}</a></li>{% endfor %}</ul>{% endif %}</td>
   <td {% if not breeding.Active %}class="dead"{% endif %}>{{ breeding.Rack }}</td>
   <td {% if not breeding.Active %}class="dead"{% endif %}>{{ breeding.Rack_Position|all_caps }}</td>
   <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.duration}}</td>
   <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.get_Crosstype_display }}</td>
   <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.animal_set.count }}</td>
   <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.unweaned.count }}</td>
   <td class="left {% if not breeding.Active %} dead{% endif %}">{{ breeding.Notes }}</td>
<td class="fg-buttonset fg-buttonset-multi">
{% if perms.animal.change_breeding %}
  <a href="{% url breeding-edit breeding.id %}" title="Edit {{breeding}}">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-pencil" style="float:left;"></span>Edit
   </button>
   </a>
{% endif %}
{% if perms.animal.delete_breeding %}
  <a href="{% url breeding-delete breeding.id %}" title="Delete {{breeding}}">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-trash" style="float:left;"></span>Delete
   </button>
   </a>
{% endif %}
</td>
  </tr>
{% endfor%}
 </tbody>
</table>
<div id="legend" class="grid_4">
<h3>Legend</h3>
<ul>
<li class="resident-breeder">Breeder is in Designated Breeding Cage</li>
<li class="non-resident-breeder">Breeder in Some Other Cage</li>
<li class="dead">Breeder is Deceased</li>
<li class="unknown-breeder">Breeder Has Some Unknown Location Status</li>
<ul>
</div>

