{% extends "base.html" %}

{% block title %}Cage List{% endblock title%}

{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block header %}Cage List{% endblock header %}

{% block content %}
<h2>{% if all_cages %}In Total There Has Been{% else %}Currently{% endif %} {{ cage_list.count }} Cages:</h2>
{% if all_cages %}<a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url "cage-list" %}">See Current Cages</a>
{% else %}<a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url "cage-list-all" %}">See All Cages</a>
{% endif %}
<table class="sortable">
<thead>
<tr>
<th>Cage</th>
<th>Strain</th>
<th>Background</th>
<th>Rack</th>
<th>Rack Position</th>
</tr>
</thead>
<tbody>
{% for cage in cage_list %}
<tr  {% if not cage.Alive %} class="dead" {% endif %}>
<td> {% if cage.Cage %}<a href="{% url "cage-detail" cage.Cage %}">{{ cage.Cage }}</a>{% else %} No Cage {% endif %}</td>
<td><a href="{% url "strain-detail" cage.Strain__Strain_slug %}">{{ cage.Strain__Strain }}</a></td>
<td>{{ cage.Background }}</td>
<td>{{ cage.Rack }}</td>
<td>{{ cage.Rack_Position }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>To add a new mouse click <a href="{% url "animal-new" %}">here</a>.
<p>To add a new mouse strain click <a href="{% url "strain-new" %}">here</a>.
{% endblock content %}
