*DS_STORE
*.db
*.pyc
*.pyo
*.svn
*.svn/*
*migrations
localsettings.py
apache/django.wsgi
*~
animal/migrations
data/migrations
groups/migrations
timed_mating/migrations
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info


#potential locations of static and media files
served-static/
served-media/
