*.pyc
*.pyo
*.svn
*.svn/*
localsettings.py
apache/django.wsgi
*~
animal/migrations
data/migrations
groups/migrations
timed_mating/migrations
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info



