{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Plug Event Detail - {{ plug }}{% endblock title%}

{% block scripts %}
{% endblock scripts %}

{% block header %}Treatment Detail - {{ plug }}{% endblock header%}
{% block content %}
<table>
<tr>
  <th>Breeding</th>
  <td></td>
</tr>
<tr>
   <th>Plug Date</th>
   <td>{{plug.PlugDate}}</td>
</tr>
<tr>
   <th>Female</th>
   <td><a href="{% url animal-detail plug.PlugFemale.id %}">{{plug.PlugFemale}}</a></td>
</tr>
<tr>
  <th>Male</th>
  <td><a href="{% url animal-detail plug.PlugMale.id %}">{{plug.PlugMale}}</a></td>
</tr>
<tr>
  <th>Sacrificed</th>
  <td>{{plug.SacrificeDate}}</td>
</tr>
<tr>
  <th>Researcher</th>
  <td>{{plug.User.get_full_name}}</td>
</tr>
<tr>
  <th>Wild-Type</th>
  <td>{{plug.WT_Alive}}/{{plug.WT_Dead}}</td>
</tr>
<tr>
  <th>Heterozygotes</th>
  <td>{{plug.HET_Alive}}/{{plug.HET_Dead}}</td>
</tr>
<tr>
  <th>Knockout</th>
  <td>{{plug.KO_Alive}}/{{plug.KO_Dead}}</td>
</tr>
  <th>Notes</th>
  <td>{{plug.Notes}}</td>
</tr>
</table>
{% endblock content %}
