html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td ,hr{
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}


html {
	font-family: sans-serif;
}


h1 {
	color: #2779AA;
	font-weight: bold;
	font-size: 2em;
	}

h2 {
	color: #2779AA; 
	font-weight: bold;
	font-size: 1.5em; 
}

h3 {
	color: #2779AA; 
	font-weight: bold;
	font-size: 1.17em; 
}

a {
	color: red;
	text-decoration: none;
}

.ui-icon{
	    display: inline-block !important;
	}
	
div#user {
}

div#header {
	height: 100px;
	text-align: center;
}

div#main {
	}

div#footer {
}

table { 
	table-layout:fixed;
	text-align: center;
}

tr {  
}

th { 
	padding-left: 5px;
    padding-right: 5px;
	font-weight: bold; 
	border: 1px solid #aed0ea; 
	background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; 
	color: #2779AA; 
	
	}

.left { text-align: left;}

td { padding-left: 5px;
    padding-right: 5px;
	border: black solid 1px;
}


.no-border { border: none;}

.breeder { 	color: #888888;
			background: yellow url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
}

.non-resident-breeder { 	color: #888888;
			background: #FFFF99 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
}

.unweaned { 	color: #888888;
			background: pink url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x;
}

.dead { 	    color: white;
			background: red url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; 
		}
		
.dead a { 	    color: white;
		}
		
ul#menu {
	font-size: large;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	text-decoration: none;
	float: left;
	padding: 10px 10px 10px 10px;
	width: 10%;
	height: 50px;
	border: 1px solid #aed0ea; 
	background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x; 
	color: #2779AA; 
	font-weight: bold;
}

ul#menu li a:hover {
	border: 1px solid #74b2e2; 
	background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; 
	color: #0070a3;
}

p {
	/* if width = 30 X font size that gives about 65 characters per line */
	font-size: 15px;
	max-width: 450px;
	/* suggested line height is 2-5px larger than font size*/
	line-height: 19px;
}

input  {
}

select{
}

table.form {
	border: 1px solid #404040; 
	background: #888888 url(images/ui-bg_highlight-hard_15_888888_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
}

.errorlist {
	text-align: center;
	list-style-type: none;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
	text-align: center;
}

.debug {
	text-align: center;
	list-style-type: none;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
	color: #2A70E8;
	border: 2px solid #2A70E8;
	text-align: center;
}

.info {
	text-align: center;
	list-style-type: none;
	background: #888888;
	color: #ffffff;
	border: 2px solid #ffffff;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 

}

.success {
	text-align: center;
	list-style-type: none;
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 2px solid #4F8A10;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
}

.warning {
	text-align: center;
	list-style-type: none;
	color: #FAB905;
	border: 2px solid #FAB905;
	text-align: center;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
}

.error {
	text-align: center;
	list-style-type: none;
	text-align: center;
	border: 1px solid #cd0a0a; 
	background: #cd0a0a url(images/ui-bg_flat_15_cd0a0a_40x100.png) 50% 50% repeat-x; 
	color: #ffffff; 	
}

