html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td ,hr{
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}


html {
	font-family: sans-serif;
}

h1 {
	 color: #888888;
	 font-size: 2em; 
	 margin: .67em 0 
}

h2 {
	 color: #888888;
	 font-size: 1.5em; 
	 margin: .83em 0
}

h3 {
	 color: #888888;
	 font-size: 1.17em; 
	 margin: 1em 0
}

div#user {
}

div#header {
	height: 100px;
	text-align: center;
}

div#main {
	}

div#footer {
}

table { 
	table-layout:fixed;
	text-align: center;
}

tr {  
}

th { 
	padding-left: 5px;
    	padding-right: 5px;
	background-color: #888888;
	color: #ffffff;
	border: 1px solid #ffffff;
	}

th#left { text-align: left;}
th.left { text-align: left;}

td { padding-left: 5px;
    padding-right: 5px;
	border: black solid 1px;
}

td#age { text-align: left;}

td#left { text-align: left;}
td.left { text-align: left;}
td.no-border { border: none;}

td#dead { background-color: red;}

tr#breeding { background-color: blue;}

tr#timed_mating { background-color: green;}

.breeder { background-color: yellow }

.unweaned { background-color: pink }


a {
	color: red;
	text-decoration: none;
}


ul#menu {
	font-size: large;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	text-decoration: none;
	float: left;
	padding: 10px 10px 10px 10px;
	color: #ffffff;
	border: 1px solid #ffffff;
	background-color: #888888;
	width: 10%;
	height: 50px;
}

ul#menu li a:hover {
	background-color: #dddddd;
	color: 	#000000;
}

p {
	/* if width = 30 X font size that gives about 65 characters per line */
	font-size: 15px;
	max-width: 450px;
	/* suggested line height is 2-5px larger than font size*/
	line-height: 19px;
}

input  {
}

select{
}

table.form {
	border: 1px solid #404040;
	background: #888888;
}

.errorlist {
	background: #fef1ec;
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
}

.debug {
	text-align: center;
	list-style-type: none;
	background: #fef1ec;
	color: #2A70E8;
	border: 2px solid #2A70E8;
	text-align: center;
}

.info {
	text-align: center;
	list-style-type: none;
	background: #888888;
	color: #ffffff;
	border: 2px solid #ffffff;
	text-align: center;

}

.success {
	text-align: center;
	list-style-type: none;
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 2px solid #4F8A10;
	text-align: center;
}

.warning {
	text-align: center;
	list-style-type: none;
	background: #fef1ec;
	color: #FAB905;
	border: 2px solid #FAB905;
	text-align: center;
}

.error {
	text-align: center;
	list-style-type: none;
	background: #fef1ec;
	color: #cd0a0a;
	border: 2px solid #cd0a0a;
	text-align: center;
}

