{% extends "base.html" %}
{% load custom_filters %}

{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block title %}Animal List - {% if list_type == "Alive" %}Alive{% else %}All{% endif %} Mice{% endblock title%}

{% block header %}Animal List - {% if list_type == "Alive" %}Alive{% else %}All{% endif %} Mice{% endblock header %}

{% block content %}

<h2>
{% if year %}Archive for {{ year }}{% endif %}
{% if month %}Archive for {{ month|date:"F Y"}}{% endif %}
{{list_type}} Mice Only
</h2>
<h2>{{ animal_list.count }} mice.</h2>
<div class="fg-buttonset">
{% if list_type == "Alive" %}
<a href="{% url animal-list-all %}"><button class="fg-button ui-state-default ui-corner-left"><span class="ui-icon ui-icon-info"></span>Show all mice</button></a>
{% else %}
<a href="{% url animal-list %}"><button class="fg-button ui-state-default ui-corner-left"><span class="ui-icon ui-icon-info"></span>Show alive mice</button></a>
{% endif %}
{% if perms.animal.add_animal %}
	<a href="{% url animal-new %}"><button class="fg-button ui-state-default ui-corner-right"><span class="ui-icon ui-icon-circle-plus"></span>Add New Mouse</button></a>
{% endif %}
</div>
{% include "animal_list_table.html" %}
{% endblock content %}
