{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Breeding Cages - {{breeding_type}}{% endblock title%}

{% block scripts %}
{% include "sortable_table_script.html" %}
{% endblock scripts %}

{% block header %}Breeding Cages - {{breeding_type}}{% endblock header %}

{% block content %}
<h2>{{ breeding_list.count }} breeding cages</h2>
<div class="fg-buttonset">
{% if breeding_type != "All" %}<a href="{% url breeding-list-all %}"><button class="fg-button fg-button-icon-left ui-state-default ui-corner-all"><span class="ui-icon ui-icon-info"></span>See all breeding cages</a></button>{% endif %}
{% if breeding_type != "Active" %}<a href="{% url breeding-list %}"><button class="fg-button ui-state-default fg-button-icon-left ui-corner-all"><span class="ui-icon ui-icon-info"></span>See active breeding cages</a></button>{% endif %}
{% if breeding_type != "Timed Matings" %}<a href="{% url breeding-list-timed-matings %}"><button class="fg-button ui-state-default fg-button-icon-left ui-corner-all"><span class="ui-icon ui-icon-info"></span>See timed mating cages</a></button>{% endif %}
{% if perms.animal.add_breeding %}
<a href="{% url breeding-new %}"><button class="fg-button ui-state-default fg-button-icon-right ui-corner-all"><span class="ui-icon ui-icon-circle-plus"></span>Add New Breeding Cage</button></a>
{% endif %}
</div>
{% include "breeding_table.html" %}

{% endblock content %}
