{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Breeding Cage Detail{% endblock title%}

{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block header %}Breeding Cage - {{ breeding.Cage }}{% endblock header %}

{% block content %}
{% include "breeding_summary_table.html" %}

<div id="breeding-parents">
<h2>Breeding Parents</h2>
<table>
  <th></th>
  <th>Breeder</th>
  <th>Cage</th>
  <th>Rack</th>
  <th>Position</th>
  <th>Age (days)</th>
  <th>Status</th>
  <th>Backcross</th>
  <th>Generation</th>
  <th>Genotype</th>
{% for male in breeding.Male.all %}
  <tr class="{{ male.breeding_male_location_type }}" >
   <th>Male</th><td class="breeder"><a href="{% url animal-detail male.id %}">{{ male }}</a></td>
   <td>{{ male.Cage }}</td>
   <td>{{ male.Rack }}</td>
   <td>{{ male.Rack_Position }}</td>
   	{% if animal.Death %}
		<td class="dead">{{ male.Death }}</td>
	{% else %}
		<td>{{ male.age }}</td>
	{% endif %}
	{% if animal.Death %}
	<td class="dead">Dead</td>
	{% else %}
	<td>{{ male.Alive|yesno:"Alive,Deceased,Unknown"  }}</td>
	{% endif %}	
	<td>{{ male.Backcross }}</td>
	<td>{{ male.Generation }}</td>
	<td>{{ male.Genotype }}</td>
  </tr>
{% endfor %}
{% for female in breeding.Females.all %}
  <tr class="{{ female.breeding_female_location_type }}" >
   <th>Female</th><td class="breeder"><a href="{% url animal-detail female.id %}">{{ female }}</a></td>
   <td>{{ female.Cage }}</td>
   <td>{{ female.Rack }}</td>
   <td>{{ female.Rack_Position }}</td>
     {% if animal.Death %}
		<td class="dead">{{ female.Death }}</td>
	{% else %}
		<td>{{ female.age }}</td>
	{% endif %}
	{% if animal.Death %}
	<td class="dead">Dead</td>
	{% else %}
	<td>{{ female.Alive|yesno:"Alive,Deceased,Unknown" }}</td>
	{% endif %}
	<td>{{ female.Backcross }}</td>
	<td>{{ female.Generation }}</td>
	<td>{{ female.Genotype }}</td>
  </tr>
  {% endfor %}
 </table>
</div>
<h2>Pups</h2>
<div id="pups" class="fg-buttonset">
{% if perms.animal.add_animal %}
<a href="{% url animal-multiple-pups-new breeding.id %}"><button class="fg-button ui-state-default ui-corner-left"><span class="ui-icon ui-icon-pencil"></span>Add New Pups</button></a>
{% endif %}
{% if perms.animal.change_animal %}
<a href="{% url breeding-pups-change breeding.id %}"><button class="fg-button ui-state-default"><span class="ui-icon ui-icon-pencil"></span>Edit Pups</button></a>
<a href="{% url breeding-pups-wean breeding.id %}"><button class="fg-button ui-state-default ui-corner-right"><span class="ui-icon ui-icon-pencil"></span>Wean Pups</button></a>
{% endif %}
</div>
{% with pups as animal_list %}
{% include "animal_list_table.html" %}
{% endwith %}
</div>
{% if breeding.Timed_Mating %}
 <div id="timed_matings">
 <p>To enter information about timed matings click <a href="/mousedb/admin/timed_mating/timedmating/" title="timed matings entry page">here</a>.  For instructions please go <a href="http://code.google.com/p/mousedb/wiki/TimedMatings" title = "Timed matings Wiki page">here</a></p>

{% with breeding.plugevents_set.all as plug_list %}
<h2>Plug Events ({{plug_list.count}}) {% if perms.timed_mating.add_plugEvents %}
  <a href="{% url breeding-plugevents-new breeding.id %}" title="Add New Plug Event">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-circle-plus" style="float:left;">Add</span>
   </button>
   </a>
{% endif %}</h2>
{% if plug_list %}
{% include "plug_table.html" %}
{% endif %}
{% endwith %}
</div>
{% endif %}
{% endblock content %}
