{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Strain Detail - {{ strain }}{% endblock title %}

{% block scripts %}
{% include "sortable_table_script.html" %}
 <script>
 $(document).ready(function() {
   $('button.toggle-breeding').click(function(){
     $('div.toggle-breeding').toggle();
   });
    $('button.toggle-animals').click(function(){
     $('div.toggle-animals').toggle();
   });
 });
 </script>
{% endblock scripts %}

{% block header %}Strain Detail - {{ strain }}{% endblock header %}

{% block content %}
<h2>{{ animal_list.count }} mice in {{ cages.count }} cages{% if strain.breeding_set.count > 0%} ({{ strain.breeding_set.count }} Breeding Cages){% endif %}.</h2>
<p>Only live mice are shown click <a href="{% url strain-detail-all strain.Strain_slug %}">here</a> to see all mice.
<p>{{ strain.Comments }}</p>
{% if strain.breeding_set.count > 0%}
<button class="toggle-breeding fg-button ui-state-default fg-button-toggleable ui-corner-all">Breeding Cages Show/Hide</button>
<div id ="breeding-cages" class="toggle-breeding">
<h3>Breeding Cage Summary</h3>
{% with strain.breeding_set.all as breeding_list %}
{% include "breeding_table.html" %}
{% endwith %}
</div>
{% endif %}

<button class="toggle-animals fg-button ui-state-default fg-button-toggleable ui-corner-all">Animals Show/Hide</button>
<div id ="animals" class="toggle-animals">
<h3>Animal List</h3>
{% include "animal_list_table.html" %}
</div>
{% if perms.animal.change_strain %}
<a href="{% url strain-edit strain.id %}"><button class="fg-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pencil"></span>Edit {{ strain }}</button></a>
{% endif %}
{% endblock content %}
