{% extends "base.html" %}

{% block header %}Plug Event - {{plugevent}}{% endblock %}
{% block title %}Plug Event - {{plugevent}}{% endblock %}


{% block content %}
<h2>Plug Events ({{plugevents_list.count}}) <a href="{% url "plugevents-new" %}"><img src="{{STATIC_URL}}admin-media/img/admin/icon_addlink.gif" border="none" alt="add" title="Add Plug Event"></a></h2>

<table class="sortable">
	<thead>	
	<tr>
	<th>Breeding Cage</th>
	<th>Strain</th>
	<th>Parents(M/F)</th>
	<th>Plug Date</th>
	<th>Sacrifice Date</th>
	<th>Duration</th>
	<th>WT</th>
	<th>HET</th>
	<th>KO</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td><a href="{% url "breeding-detail" plugevent.Breeding.id %}">{{plugevent.Breeding.Cage}}</a></td>
	<td><a href="{% url "strain-detail" plugevent.Breeding.Strain.Strain_slug %}">{{plugevent.Breeding.Strain}}</a></td>
	<td><ul>
		<li><a href="{% url "animal-detail" plugevent.PlugMale.id %}">{{plugevent.PlugMale}}</a></li>
		<li><a href="{% url "animal-detail" plugevent.PlugFemale.id %}">{{plugevent.PlugFemale}}</a></li>
	</ul></td>
	<td>{{plugevent.PlugDate}}</td>
	<td>{{plugevent.SacrificeDate}}</td>
	<td>	{% if plugevent.SacrificeDate %}
		{{plugevent.SacrificeDate|timeuntil:plugevent.PlugDate}}
		{% else %}
		{{plugevent.PlugDate|timesince}}
		{% endif %}
	</td>
	<td>{{plugevent.WT_Alive}}/{{plugevent.WT_Dead}}</td>
	<td>{{plugevent.HET_Alive}}/{{plugevent.HET_Dead}}</td>
	<td>{{plugevent.KO_Alive}}/{{plugevent.KO_Dead}}</td>
	<td><a href="{% url "plugevents-new" %}"><img src="{{STATIC_URL}}admin-media/img/admin/icon_addlink.gif" border="none" alt="add" title="Add Plug Event"></a></td>
	<td><a href="{% url "plugevents-edit" plugevent.id %}"><img src="{{STATIC_URL}}admin-media/img/admin/icon_changelink.gif" border="none" alt="edit" title="Edit Plug Event"></a></td>
	<td><a href="{% url "plugevents-delete" plugevent.id%}"><img src="{{STATIC_URL}}admin-media/img/admin/icon_deletelink.gif" border="none" alt="delete" title="Delete Plug Event"></a></td>
	</tr>
	</tbody>
</table>

<p>To add a new plug event click <a href="{% url "plugevents-new" %}">here</a>, or enter it from the <a href="{% url "breeding-list" %}">breeding cage</a>.</p>
<p>To see all timed mating breeding cages click <a href="{% url "breeding-list-timed-matings" %}">here</a>.</p>
{% endblock %}
