{% extends "base.html" %}
{% block title %}Medical Issue Details{% endblock title%}
{% block header %}Medical Issue Details{% endblock header%}

{% block content %}
<table>
<tr><th>Diagnosis Date</th><td>{{ medical_issue.diagnosis }}</td></tr>
<tr><th>Veterinary Code</th><td>{{ medical_issue.code }}</td></tr>
<tr><th>Animal Affected</th><td><a href="{{ medical_issue.animal.get_absolute_url }}">{{ medical_issue.animal }}</a></td></tr>
<tr><th>Condition</th><td><a href="{{ medical_issue.condition.get_absolute_url }}">{{ medical_issue.condition }}</a></td></tr>
<tr><th>Treatment</th><td><a href="{{ medical_issue.treatment.get_absolute_url }}">{{ medical_issue.treatment }}</a></td></tr>
<tr><th>Treatment Start</th><td>{{ medical_issue.treatment_start }}</td></tr>
<tr><th>Treatment End</th><td>{{ medical_issue.treatment_end }}</td></tr>
</table>
{% endblock content %}
