<div id="animal-summary">

<table>
<tr>
	<th>Date</th>
	<th>Animal</th>
	<th>Condition</th>
	<th>Treatment</th>
</tr>
{% for issue in medical_issues %}
<tr>
	<td>{{ issue.diagnosis }}</td>
	<td><a href="{{ issue.animal.get_absolute_url }}">{{ issue.animal }}</td>
	<td><a href="{{ issue.condition.get_absolute_url }}">{{ issue.condition }}</td>
	<td><a href="{{ issue.treatment.get_absolute_url }}">{{ issue.treatment }}</td>	
	<td>
	<a href="{% url "medical-issue-detail" issue.pk %}"> 
    <button class="fg-button ui-state-default  ui-corner-left view" name="Details"><span class="ui-icon ui-icon-zoomin"></span></button>
    </a>
    	{% if perms.veterinary.update_medicalissue %}
    <a href="{% url "medical-issue-edit" issue.pk %}"> 
	<button class="fg-button ui-state-default update" name="Edit"><span class="ui-icon ui-icon-pencil"></span></button>
	</a>
	    {% endif %}
	    {% if perms.veterinary.delete_medicalissue %}
	<a href="{% url "medical-issue-delete" issue.pk %}">
	<button class="fg-button ui-state-default  ui-corner-right delete" name="Delete"><span class="ui-icon ui-icon-trash"></span></button>
	</a>
		{% endif %}
	</td>
</tr>
{% endfor %}
</table>
{% if perms.veterinary.create_medicalissue %}
<a href="{% url "medical-issue-new" %}"><button class="fg-button ui-state-default  ui-corner-right new" name="Add"><span class="ui-icon ui-icon-circle-plus"></span>Create New Medical Issue</button></a>
{% endif %}