{% extends "base.html" %}
{% block title %}Veterinary{% endblock title%}
{% block header %}Veterinary{% endblock header%}

{% block content %}
<h2>Medical Issues</h2>

{% include 'veterinary_summary_snippet.html' %}


<h2>Medical Conditions</h2>
<ul>
{% for condition in medical_conditions %}
	<li><a href="{{ condition.get_absolute_url }}">{{ condition }}</a></li>
	{% if perms.veterinary.update_medicalcondition %}
    <a href="{% url medical-condition-edit condition.slug %}"> 
	<button class="update">Update</button>
	</a>
{% endif %}

{% if perms.veterinary.delete_medicalcondition %}
	<a href="{% url medical-condition-delete condition.slug %}">
	<button class="delete">Delete</button>
	</a>
{% endif %}
{% endfor %}
</ul>

<h2>Medical Treatments</h2>
<ul>
{% for treatment in medical_treatments %}
	<li><a href="{{ treatment.get_absolute_url }}">{{ treatment }}</a></li>
{% endfor %}
</ul>
{% endblock content %}
