{% extends "base.html" %}

{% block header%}Update Mouse {{object}}{% endblock %}
{% block title %}Update Mouse {{object}}{% endblock %}
{% block scripts %}
	<link type="text/css" href="/mousedb-media/javascript/jquery-ui/css/custom-theme/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
	<script type="text/javascript" src="/mousedb-media/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/mousedb-media/javascript/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script> 
	<script type="text/javascript">
	 $(document).ready(function() {	
		$('#id_Born').datepicker({dateFormat: 'yy-mm-dd'});
		$('#id_Weaned').datepicker({dateFormat: 'yy-mm-dd'});
		$('#id_Death').datepicker({dateFormat: 'yy-mm-dd'});
	});
	</script>
{% endblock %}
{% block content %}
<form method="POST" action="/mousedb/mouse/{{object.id}}/update/">
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
