{% extends "base.html" %}
{% load custom_filters %}

{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block title %}Animal List{% endblock title%}

{% block header %}Animal List{% endblock header %}

{% block content %}

<h2>{{ animal_list.count }} mice.</h2>
<p>This shows only alive mice.  To see all mice click <a href="{% url animal-list-all %}">here</a>.</p>
<p>To add a new mouse click <a href="{% url animal-new %}">here</a>.
<p>Sort table by clicking headers.  Select multiple headers by holding SHIFT</p>
<p class="unweaned">Pink rows are animals which have not yet been weaned.</p>  
<p class="breeder">Yellow rows are animals which are currently in breeding cages.</p>
{% include "animal_list_table.html" %}
{% endblock content %}
