{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Breeding Cage Detail{% endblock title%}

{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block header %}Breeding Cage - {{ breeding.Cage }}{% endblock header %}

{% block content %}
<table>
 <thead>
 <tr>
  <th>Strain</th>
  <th>Cage</th>
  <th>Name</th>
  <th>Start</th>
  <th>Duration</th>
  <th>Crosstype</th>
  <th>Rack</th>
  <th>Position</th>
 </tr>
 </thead>
 <tdata>
 <tr>
 <td><a href="/mousedb{{ breeding.Strain.get_absolute_url }}">{{ breeding.Strain }}</a></td>
 <td>{{ breeding.Cage }}</td>
 <td>{{ breeding.BreedingName }}</td>
 <td>{{ breeding.Start }}</td>
 <td>{{ breeding.Start|timesince }}</td>
 <td>{{ breeding.Crosstype }}</td>
 <td>{{ breeding.Rack }}</td>
 <td>{{ breeding.Rack_Position|all_caps }}</td>
 </tr>
 </tdata>
</table>
<div id="breeding-parents">
<h2>Breeding Parents</h2>
<table>
  <th></th>
  <th>Breeder</th>
  <th>Cage</th>
  <th>Rack</th>
  <th>Rack_Position</th>
{% for male in breeding.Male.all %}
  <tr>
   <th>Male</th><td class="breeder"><a href="{% url animal-detail male.id %}">{{ male }}</a></td>
   <td>{{ male.Cage }}</td>
   <td>{{ male.Rack }}</td>
   <td>{{ male.Rack_Position }}</td>
  </tr>
{% endfor %}
{% for female in breeding.Females.all %}
  <tr>
   <th>Female</th><td class="breeder"><a href="{% url animal-detail female.id %}">{{ female }}</a></td>
   <td>{{ female.Cage }}</td>
   <td>{{ female.Rack }}</td>
   <td>{{ female.Rack_Position }}</td>
  </tr>
  {% endfor %}
 </table>
</div>
<div id="pups">
<ul>
<li><a href="{% url breeding-pups breeding.id %}">Add/Wean Pups</a></li>
<li><a href="{% url breeding-pups-change breeding.id %}">Eartag/Genotype/Cage Changes/Death</a></li>
</ul>
<p>For data entry instructions go to the <a href="http://code.google.com/p/mousedb/wiki/DataEntry">MouseDB Wiki</a></p>
<h2>Pups</h2>
<p>Sort table by clicking headers.  Select multiple headers by holding SHIFT</p>
<table class="sortable">
 <thead>
  <tr>
   <th>Born</th><th>MouseID</th><th>Strain</th><th>Background</th><th>Gender</th><th>Genotype</th><th>Cage</th><th>Rack</th><th>Position</th><th>Markings</th><th>Age/Death</th>
  </tr>
 </thead>
 <tdata>
{% for animal in pups %}
 <tr>
  <td>{{ animal.Born }}</td>
  <td><a href = "{% url animal-detail animal.id %}">{{ animal.MouseID}}</a></td>
  <td><a href="{{ animal.Strain.get_absolute_url }}">{{ animal.Strain }}</a></td>
  <td>{{ animal.Background }}</td>
  <td>{{ animal.Gender }}</td>
  <td>{{ animal.Genotype }}</td>
  <td>{{ animal.Cage }}</td>
  <td>{{ animal.Rack|all_caps }}</td>
  <td>{{ animal.Rack_Position|all_caps }}</td>
  <td>{{ animal.Markings }}</td>
  {% if animal.Death %}
	<td id="dead">{{ animal.Death }}</td>
  {% else %}
	<td id="age">{{ animal.Born|timesince }}</td>
  {% endif %}
  </tr>
{% endfor%}
 </tdata>
</div>
{% if breeding.Timed_Mating %}
 <div id="timed_matings">
 <p>To enter information about timed matings click <a href="/mousedb/admin/timed_mating/timedmating/" title="timed matings entry page">here</a>.  For instructions please go <a href="http://code.google.com/p/mousedb/wiki/TimedMatings" title = "Timed matings Wiki page">here</a></p>

{% with breeding.plugevents_set.all as plug_list %}
<h2>Plug Events ({{plug_list.count}}) <a href="{% url breeding-plugevents-new breeding.id %}"><img src="/mousedb-media/admin-media/img/admin/icon_addlink.gif" border="none" alt="add" title="Add Plug Event"></a></h2>
{% if plug_list %}
{% include "plug_table.html" %}
{% endif %}
{% endwith %}
</div>
{% endif %}
<p>To change this breeding cage click <a href="{% url breeding-edit breeding.id %}">here</a>.  To delete (not deactivate but to completely erase all data) this breeding cage click <a href="/mousedb/breeding/{{breeding.id}}/delete">here</a></p>
{% endblock content %}
