{% extends "base.html" %}

{% block header %}All Plug Events{% endblock %}
{% block title %}All Plug Events{% endblock %}
{% block scripts %}{% include "sortable_table_script.html" %}{% endblock scripts %}

{% block content %}
<h2>Plug Events ({{plug_list.count}}) <a href="/mousedb/plug/new"><img src="/mousedb-media/admin-media/img/admin/icon_addlink.gif" border="none" alt="add" title="Add Plug Event"></a></h2>
{% include "plug_table.html" %}
<p>To add a new plug event click <a href="/mousedb/plug/new">here</a>, or enter it from the <a href="/mousedb/breeding/">breeding cage</a>.</p>
<p>To see all timed mating breeding cages click <a href="/mousedb/breeding/timed_mating">here</a>.</p>
{% endblock %}
