<table class="sortable">
	<thead>	
	<tr>
	<th>Breeding Cage</th>
	<th>Strain</th>
	<th>Parents(M/F)</th>
	<th>Plug Date</th>
	<th>Sacrifice Date</th>
	<th>Duration</th>
	<th>WT</th>
	<th>HET</th>
	<th>KO</th>
	</tr>
	</thead>
	<tbody>
	{% for plug in plug_list %}
	<tr>
	<td><a href="{{plug.Breeding.get_absolute_url}}">{{plug.Breeding.Cage}}</a></td>
	<td><a href="{{plug.Breeding.Strain.get_absolute_url}}">{{plug.Breeding.Strain}}</a></td>
	<td><ul>
		<li><a href="{{plug.PlugMale.get_absolute_url}}">{{plug.PlugMale}}</a></li>
		<li><a href="{{plug.PlugFemale.get_absolute_url}}">{{plug.PlugFemale}}</a></li>
	</ul></td>
	<td>{{plug.PlugDate}}</td>
	<td>{{plug.SacrificeDate}}</td>
	<td>	{% if plug.SacrificeDate %}
		{{plug.SacrificeDate|timeuntil:plug.PlugDate}}
		{% else %}
		{{plug.PlugDate|timesince}}
		{% endif %}
	</td>
	<td>{{plug.WT_Alive}}/{{plug.WT_Dead}}</td>
	<td>{{plug.HET_Alive}}/{{plug.HET_Dead}}</td>
	<td>{{plug.KO_Alive}}/{{plug.KO_Dead}}</td>
<td class="fg-buttonset fg-buttonset-multi">
{% if perms.timed_mating.change_plugEvents %}
  <a href="{% url plugevents-edit plug.id %}" title="Edit {{plug}}">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-pencil" style="float:left;">Edit</span>
   </button>
   </a>
{% endif %}
{% if perms.timed_mating.delete_plugEvents %}
  <a href="{% url plugevents-delete plug.id %}" title="Delete {{plug}}">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-trash" style="float:left;">Delete</span>
   </button>
   </a>
{% endif %}
</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
