{% extends "base.html" %}

{% block header %}All Plug Events{% endblock %}
{% block title %}All Plug Events{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/javascript/dataTables-1.4/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
        $(document).ready(function() {
                $("#sortable").dataTable( {
                        "bPaginate": false,
                        });
                });
    	</script>
    	</script>
{% endblock scripts %}

{% block content %}
<h2>Plug Events ({{plug_list.count}}) {% if perms.timed_mating.add_plugEvents %}
  <a href="{% url plugevents-new %}" title="Add New Plug Event">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-circle-plus" style="float:left;">Add</span>
   </button>
   </a>
{% endif %}</h2>
{% include "plug_table.html" %}
<p>To add a new plug event click <a href="/mousedb/plug/new">here</a>, or enter it from the <a href="/mousedb/breeding/">breeding cage</a>.</p>
<p>To see all timed mating breeding cages click <a href="/mousedb/breeding/timed_mating">here</a>.</p>
{% endblock %}
