{% extends "base.html" %}

{% block header %}All Plug Events{% endblock %}
{% block title %}All Plug Events{% endblock %}
{% block scripts %}
{% include "sortable_table_script.html " %}
	<script type="text/javascript">
        $(document).ready(function() {
                $("#sortable").dataTable( {
                        "bPaginate": false,
                        });
                });
    	</script>
    	</script>
{% endblock scripts %}

{% block content %}
<h2>Plug Events ({{plugevents_list.count}}) {% if perms.timed_mating.add_plugEvents %}
  <a href="{% url plugevents-new %}" title="Add New Plug Event">
   <button class="fg-button ui-state-default fg-button-icon-left ui-corner-all">
    <span class="ui-icon ui-icon-circle-plus" style="float:left;">Add</span>
   </button>
   </a>
{% endif %}</h2>
{% include "plug_table.html" %}
<p>To add a new plug event click <a href="{% url plugevents-new %}">here</a>, or enter it from the <a href="{% url breeding-list %}">breeding cage</a>.</p>
<p>To see all timed mating breeding cages click <a href="{% url breeding-list-timed-matings %}">here</a>.</p>
{% endblock %}
