<table class="sortable">
	<thead>
		<tr>
			<th>Date</th>
			<th>Strain</th>
			<th>Cage</th>
			<th>Animal</th>
			<th>Genotype</th>
			<th>Age (Days)</th>
			<th>Assay</th>
			<th>State</th>
			<th>Values</th>
			<th>Treatment Group</th>
		</tr>
	</thead>
	<tbody>
	{% for data in data_list %}
		<tr>
			<td><a href="{% url experiment-detail data.experiment.id %}">{{ data.experiment.date }}</a></td>
			<td><a href="{% url strain-detail data.animal.Strain.Strain_slug %}">{{ data.animal.Strain }}</a></td>
			<td>{{ data.animal.Cage }}</td>
			<td><a href="{% url animal-detail data.animal.id %}">{{ data.animal.MouseID }}</a></td>
			<td>{{ data.animal.Genotype }}</td>
			<td>{{ data.age }}</td>
			<td>{{ data.assay }}</td>
			<td>{{ data.experiment.feeding_state }}{% if data.experiment.fasting_time %} - {{ data.experiment.fasting_time }}h{% endif %}
			<td>{{ data.values }}</td>
			<td>{% for treatment in data.animal.treatment_set.all %}{{ treatment }}{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
