{% extends "base.html" %}
{% block title %}Data{% endblock title%}
{% block scripts %}
	<script type="text/javascript" src="/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/javascript/dataTables-1.4/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
        $(document).ready(function() {
                $(".sortable").dataTable( {
                        "bPaginate": false,
                        });
                });
    	</script>
    	</script>

{% endblock scripts %}
{% block header %}Data{% endblock header%}

{% block content %}
{% include "data_table.html" %}
{% endblock content %}
