{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Study List{% endblock title%}

{% block scripts %}
	<script type="text/javascript" src="/javascript/jquery-1.3.2.js"></script> 
	<script type="text/javascript" src="/javascript/dataTables-1.4/media/js/jquery.dataTables.js"</script>
	<script type="text/javascript">
	$(document).ready(function() { 
		$("#sortable").dataTable( {
			"bPaginate": false,
			});
		});
    	</script>

{% endblock scripts %}


{% block header %}Study List{% endblock header %}

{% block content %}
<table id="sortable">
 <thead>
 <tr>
  <th>Description</th>
  <th>Strain</th>
  <th>Start Date</th>
  </thead>
 </tr>
 <tdata>
{% for study in study_list %}
 <tr>
  <td><a href="/mousedb/study/{{study.id}}">{{study.description}}</td>
  {% for strain in study.strain.all %}<td><a href="/mousedb/strain/{{ strain.Strain_slug }}">{{ strain }}</a>{% endfor %}</td>
  <td>{{study.start_date}}</td>
 </tr>
{% endfor %}
 </tdata>
</table>
<p>To add a new study click <a href="{% url study-new %}">here</a>.</p>

{% endblock content %}
