<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
          "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:dc="http://purl.org/dc/elements/1.1/">


<head>
 	<title property="dc:title">{% block title %}{{ group}} MouseDB{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="/mousedb-media/mousedb.css"/> 
	<link rel="stylesheet" type="text/css" href="/mousedb-media/960.gs.css"/> 
        <link rel="meta" title="DOAP" href="http://github.com/davebridges/mousedb/raw/master/media/doap.rdf" type="application/rdf+xml"/>
	{% block scripts%}{% endblock scripts %}
</head>

<body>
<div class = "container_12">
	<div id = "user" class="grid_12">
	{% if user.is_authenticated %}
		<p>Welcome, {{ user.first_name }} {{ user.last_name }}.  <a href="{% url login %}"><img src="/mousedb-media/admin-media/img/admin/icon_searchbox.png" alt="change" title="Change User"/></a>
	{% else %}
		<p>Welcome, please <a href="{% url login %}">log in.</a>
	{% endif %}
	</p>
	</div>

	<div id = "header" class="grid_12">
		<ul id="menu">
			<li><a href="{% url home %}" title="Home">Home</a></li>
			{% if user.is_staff %}<li><a href="/mousedb/admin" title="Admin">Admin Site</a></li>{% endif %}
			<li><a href="{% url todo-list %}" title="To Do List">To Do List</a></li>
			<li><a href="{% url breeding-list %}" title="Breeding Cages">Breeding Cages</a></li>
			<li><a href="{% url strain-list %}" title="Strain List">Strain List</a></li>
			<li><a href="{% url animal-list %}" title="Animal List">Animal List</a></li>
			<li><a href="{% url study-list %}" title="Study List">Study List</a></li>
			<li><a href="{% url experiment-list %}" title="Experiment List">Experiment List</a></li>
		</ul>
	</div>


        {% if messages %}
	<div id = "messages" class="grid_12">
	<ul>
    	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
	</ul>	
	</div>	
	{% endif %}

	<div id = "main" class="grid_12">
		<h1>{% block header %}{% endblock header %}</h1>
		{% block content %}{% endblock content %}
	</div>

	<div id  = "footer" class="grid_12">
		{% block footer %}{% endblock footer %}
	</div>

<span rel="dc:rights" href="http://www.opensource.org/licenses/bsd-license.php"/>
<span rel="dc:license" content="{{ group.license }}.  {{ group.license.notes }}" />
</div>
</body>
</html>
