{% extends "base.html" %}
{% block title %}MouseDB Specifications{% endblock title %}

{% block header %}MouseDB Specifications{% endblock header %}

{% block content %}
<table>
	<tr>
		<th>Component</th>
		<th>Software</th>
		<th>Version</th>
	</tr>
	<tr>
		<td>Base Language</td>
		<td>Python</td>
		<td>2.4.3</td>
	</tr>
	<tr>
		<td>Database</td>
		<td>MySQL</a>
		<td>5.0.45</td>
	</tr>
	<tr>
		<td></td>
		<td>MySQL-python</td>		
		<td>1.2.2</td>
	</tr>
	<tr>	<td>Object Relational Manager</td>
		<td>Django</td>
		<td>1.1.1</td>
	</tr>
	<tr>
		<td>HTTP Server</td>
		<td>Apache2</td>
		<td>2.2.3</td>
	</tr>
	<tr>
		<td></td>
		<td>mod-python</td>
		<td>3.2</td>
	</tr>
	<tr>
		<td>Markup</td>
		<td>XHTML</td>
		<td>1.0 Transitional</td>
	</tr
	<tr>
		<td>Presentation</td>
		<td>CSS</td>
		<td>2.1</td>
	</tr>
	<tr>
		<td>Scripting</td>
		<td>JQuery</td>
		<td>1.3.2</td>
	</tr>
</table>
	
This code for this database is available via subversion from <a href="https://mousedb.googlecode.com/">here</a> under the <a rel="dc:rights" href="http://www.opensource.org/licenses/bsd-license.php">New BSD license</a>.
{% endblock content%}
