{% extends "base.html" %}

{% block title %}Cohort List{% endblock title%}

{% block scripts %}
{% endblock scripts %}


{% block header %}Cohort List{% endblock header %}

{% block content %}
<table id="cohort-list">
<tr>
    <th>Cohort</th>
    <th>Treatment Groups</th>
    <th>Animals</th>
</tr>
{% for treatment in treatment_list %}
<tr>
    <td><a href="{{ cohort.study.get_absolute_url }}">{{ cohort }}</a></td>
    <td>
    <ul>{% for treatment in cohort.treatment_groups %}
    	<li><a href="{{ treatment.get_absolute_url }}">{{ treatment }}</a></li>
    	{% endfor %}
    </ul>
    </td>
    <td>{{ cohort.animals.count }}</td>
</tr>
{% endfor %}

{% endblock content %}
