{% extends "base.html" %}

{% block header %}{% if cohort %}Update Cohort - {{ cohort }}{% else %}New Cohort{% endif %}{% endblock %}
{% block title %}{% if cohort %}Update Cohort - {{ cohort }}{% else %}New Cohort{% endif %}{% endblock %}
{% block scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<form method="POST" {% if cohort %} action="{% url "cohort-edit" cohort.slug %}" {% else %} action="{% url "cohort-new" %}"{% endif %}>{% csrf_token %}
<table>{{ form }}</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
