{% extends "base.html" %}

{% block title %}Cohort Detail - {{ cohort }}{% endblock title%}

{% block scripts %}
{% include "sortable_table_script.html" %}
{% endblock scripts %}

{% block header %}Cohort Detail - {{ cohort }}{% endblock header%}
    <ul>{% for treatment in cohort.treatment_groups.all %}
    	<li><a href="{{ treatment.get_absolute_url }}">{{ treatment }}</a></li>
    	{% endfor %}
    </ul>

{% block content %}
<p>This is cohort id number {{ cohort.id }}.</p>
{% with cohort.animals.all as animal_list %}
{% include "animal_list_table.html" %}
{% endwith %}
{% endblock content %}
